.navbar {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0;
  height: 100%;
  .navbar-brand {
    position: relative;
    top: -20px;
    width: 250px;
    padding: 0;
    margin-left: 20px;
    vertical-align: top;
    img {
      width: 100%;
    }
  }

  .menu-left {
    position: relative;
    top: 25px;
    width: 100%;
    display: inline-block;
    a {
      display: inline-block;
      padding: 0 20px;
      color: #ffffff;
      font-family: $font1;
      font-size: 16px;
      font-weight: 500;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -ms-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      text-decoration: none;
      &:focus {
        text-decoration: none;
        outline: 0;
      }
    }
    .fundraiser-start {
      position: relative;
      display: inline-block;
      overflow: hidden;
      padding: 5px 20px;
      color: #ffffff;
      font-family: $font1;
      font-size: 16px;
      font-weight: 500;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -ms-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      text-transform: uppercase;
      text-decoration: none;
      background: #794d8f;
      border: 1px solid #d0b041;
      border-radius: 5px;
      cursor: pointer;
      span {
        position: relative;
        z-index: 99;
      }
      &:hover {
        color: #ffffff;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
      }

      &:focus {
        text-decoration: none;
        outline: 0;
      }
    }
  }

  .navbar-main__section {
    display: inline-block;
    text-align: right;
    float: right;
    ul {
      margin-bottom: 0;
      padding-left: 0;
      display: inline-block;
      text-align: right;
      list-style: none;
    }
    li {
      display: inline;
      a {
        display: inline-block;
        padding: 0 20px;
        color: #ffffff;
        font-family: $font1;
        font-size: 16px;
        font-weight: 500;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        text-decoration: none;
        &:focus {
          text-decoration: none;
          outline: 0;
        }
      }
      .fundraiser-start {
        bottom: 5px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        padding: 5px 20px;
        color: #ffffff;
        font-family: $font1;
        font-size: 16px;
        font-weight: 500;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        text-transform: uppercase;
        text-decoration: none;
        background: #000080;
        border: 2px solid #d0b041;
        border-radius: 5px;
        cursor: pointer;
        span {
          position: relative;
          z-index: 99;
        }
        &:before {
          content: "";
          z-index: 0;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: $color;
          transform: translateX(-100%);
          -webkit-transition: 0.4s;
          -moz-transition: 0.4s;
          -ms-transition: 0.4s;
          -o-transition: 0.4s;
          transition: 0.4s;
        }
        &:hover {
          color: #ffffff;
          -webkit-transition: 0.4s;
          -moz-transition: 0.4s;
          -ms-transition: 0.4s;
          -o-transition: 0.4s;
          transition: 0.4s;
          &:before {
            transform: translateX(0);
          }
        }

        &:focus {
          text-decoration: none;
          outline: 0;
        }
      }
    }
  }
}

.navbar {
  .form-wrap {
    position: relative;
  }
  .search-form {
    margin: 0;
    position: relative;
    right: 105px;
    z-index: 99;
    text-align: right;
    label {
      border-radius: 5px 0 0 5px;
      background: #fff;
      color: $color;
      text-transform: uppercase;
      font: $font1;
      font-weight: 700;
      margin-bottom: 0;
      vertical-align: top;
      height: 38px;
      padding: 9px 10px;
    }
    input {
      border-radius: 0 5px 5px 0;
      background: #f8f3ed;
      color: #000;
      border: none;
      padding: 3px 3px 3px 10px;
      width: 220px;
      height: 38px;
      margin-left: -5px;
      &:focus {
        border: 0;
        outline: none;
        box-shadow: none;
      }
    }
    button {
      color: $color;
      height: 38px;
      background: none;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.account-dropdown {
  position: relative;
  .dropdown-menu {
    left: auto;
    right: 10px;
    top: 45px;
  }
}

.dropdown-menu {
  left: auto;
  right: 0;
  top: 35px;
}

.dropdown-menu__account {
  left: auto;
  right: 0;
  top: 30px;
}

.dropdown {
  button {
    padding: 10px;
  }
}

.navbar-main__section .navbar-signin .dropdown-menu .dropdown-menu__account {
  a {
    text-align: center;
    color: $color;
  }
}

.signin__mobile {
  display: none;
}

.menu-header {
  text-align: left;
  padding: 10px 0 10px 20px;
  border-top: 1px solid $color;
  border-bottom: 1px solid $color;
  color: #a8a8a8;
  font-family: $font1;
  font-weight: 500;
  font-size: 13px;
  background: #fff;
}

.navbar-main .navbar-main__right .dropdown-menu li a.link-bottom {
  padding: 0;
  &:hover {
    background: none;
  }
}

.navbar-main {
  display: inline-block;
  position: relative;
  width: 100%;
  .menu-right {
    float: right;
  }
  .navbar-main__right {
    display: inline-block;
    margin-right: 40px;
    float: right;
    text-align: right;
    position: relative;
    .dropdown-menu {
      ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
      }
      li {
        a {
          font-family: $font1;
          font-size: 14px;
          font-weight: 500;
          text-transform: capitalize;
          display: inline-block;
          padding: 10px 20px;
          &:active {
            background: #fff;
          }
        }
      }
      .dropdown-item {
        color: $color;
      }
    }
    .dropdown-menu__account {
      ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
      }
      li {
        a {
          font-family: $font1;
          font-size: 14px;
          font-weight: 500;
          text-transform: capitalize;
          display: inline-block;
          padding: 10px 20px;
          &:active {
            background: #fff;
          }
        }
      }
    }
    .navbar-signin {
      margin: 0;
      padding: 0;
      display: inline-block;
      li {
        list-style: none;
      }
    }
    img {
      width: 40px;
      height: 40px;
    }
  }

  button {
    cursor: pointer;
    outline: 0;
  }
  .nav-link {
    padding: 0 20px !important;
  }
}

.navbar-main__section .navbar-signin .account-dropdown a {
  img {
    object-fit: cover;
    width: 40px;
    height: 40px;
    display: inline-block;
  }
  a {
    padding: 0;
  }
}

/*Donate Nav Bar*/

.navbar-main__donate {
  text-align: center;
  padding: 15px 0;
  h1 {
    text-transform: capitalize;
    margin-bottom: 0;
    font-family: $font1;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
  }
  .donate-nav {
    margin: 0;
    padding: 0;
    li {
      padding: 5px 10px;
      display: inline;
      &:first-of-type {
        border-right: 1px solid #fff;
      }
    }
  }
}

.navbar-donate__right {
  float: right;
  padding-left: 20px;
  display: inline-block;
}

.navbar-brand__donate {
  img {
    width: 170px;
    margin-bottom: 10px;
  }
}

.navbar-menu__button {
  .dropdown {
    .dropdown-toggle__desk {
      .menu-open {
        display: inline-block;
      }
      .menu-close {
        display: none;
      }
    }
    &.show {
      .dropdown-toggle__desk {
        .menu-open {
          display: none;
        }
        .menu-close {
          display: inline-block;
          padding-left: 4px;
        }
      }
    }
  }
}

.navbar-menu__button {
  .dropdown {
    .dropdown-toggle__mobile {
      display: none;
      .menu-open {
        display: inline-block;
      }
      .menu-close {
        display: none;
      }
    }
    &.show {
      .dropdown-toggle__mobile {
        .menu-open {
          display: none;
        }
        .menu-close {
          display: inline-block;
          padding-left: 4px;
        }
      }
    }
  }
}
